@media only screen and(max-width:601px){
    .faq-container{
        position: relative;
        top:4050px;
    }
}
@media only screen and(max-width:303px){
    .faq-container{
        position: relative;
        top:4750px;
    }
}