.partnership{
    position: relative;
    top:1500px;
    display: flex;
    justify-content: center;
    align-items: center;
    .partnership-container-child{
        display: flex;
        flex-direction: column;
        grid-gap: 15px;
    }
    .partnership-items-block-first , .partnership-items-block-second{
        position: relative;
        top:31px;
        display: flex;
        justify-content: space-around;
        grid-gap: 15px;
        .part-block-item-item{
            width:365px;
            height: 237px;
            background: #FFFFFF;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
            cursor: pointer;
            display: flex;      
            justify-content: space-around;
            align-items: flex-start;
            img{
                position: relative;
                top:100px;
            }
            h4{
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 30px;
                color: #000000;
            }
            p{
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 30px;
                color: #737373;
            }
        }
    }
}