@media only screen and(max-width:801px){
    .relation-ship-container{
        position: relative;
        top: 1800px;
    }
}
@media only screen and(max-width:768px){
    .rel-image-cont-child-one , .rel-image-cont-child-two{
        img{
            height: 20px;
        }
    }
}
@media only screen and(max-width:599px){
    .relation-ship-container{
        position: relative;
        top: 3090px;
    }
}
@media only screen and(max-width:351px){
    .rel-image-cont-child-one , .rel-image-cont-child-two{
        display: flex;
        flex-direction: column;
        grid-gap:35px;
    }
}
@media only screen and(max-width:298px){
    .relation-ship-container , .relation-ship-text-container , .relation-ship-images-container{
        top:3500px;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        
    }
    .relation-ship-text-container{
        text-align: center !important;
        padding-left: 10px !important;
        h1 , p{
            font-size: 15px !important;
        }
    }
    .relation-ship-images-container{
        width:200px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        position: relative;
        left:10px;
    }
}