@media only screen and(max-width:598px){
    .slider-container{
        position: relative;
        top:4500px;
    }
}
@media only screen and(max-width:303px){
    .slider-container{
        position: relative;
        top:5000px;
    }
}